
@{
    ViewData["Title"] = "Dicas";
}

<h2>Dicas</h2>

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="css/estilo.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Hey up! London</title>
</head>

<body>
    <header></header>
    <main>
        <div class="header" id="header">
        </div>
        <ul>
            <li><a href="index.htm" class="active">WYNONNA EARP</a></li>
            <li><a href="metro.htm">PERSONAGENS/ELENCO</a></li>
            <li><a href="dicas.htm">EPISÓDIOS</a></li>
            <li><a href="pontos.htm">HITÓRIA</a></li>
            <li><a href="cadastro.htm">CURIOSIDADES</a></li>
            <li><a href="restaurante.htm">#FigthForWynonna</a></li>
            <li><a href="album.htm">MURAL DOS VISITANTES</a></li>

        </ul>
        <div class="quadroprincipal">
            <h1>Restaurantes e Pub's mais famosos de Londres</h1>
            <h3>Londres, 01 de abril de 2019.</h3>
            <div class="quadroimagem" id="imagem7"></div>
            <table>
                <tr>
                    <th>Nome da Dica</th>
                    <th>Nota no Google</th>
                    <th>Localização</th>
                    <th>Horário</th>
                    <th>Valor Médio</th>
                    <th>Telefone</th>
                    <th>Social</th>
                </tr>
                <tr>
                    <td>Sketch London</td>
                    <td>4.3 <i class="fas fa-star"></i></td>
                    <td>9 Conduit St, Mayfair, London W1S 2XG, Reino Unido</td>
                    <td>07:00 até 02:00</td>
                    <td>
                        <i class="fas fa-dollar-sign"></i><i class="fas fa-dollar-sign"></i><i class="fas fa-dollar-sign"></i><i class="fas fa-dollar-sign"></i>
                    </td>
                    <td>+44 20 7659 4500</td>
                    <td>
                        <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fsketchlondon.mayfair%2F%3Fref%3Dbr_rs&width=72&layout=box_count&action=like&size=large&show_faces=false&share=false&height=65&appId"
                                width="72" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                                allowTransparency="true" allow="encrypted-media"></iframe>
                    </td>
                </tr>
                <tr>
                    <td>The Duck and Rice</td>
                    <td>4.2 <i class="fas fa-star"></i></td>
                    <td>90 Berwick St, Soho, London W1F 0QB, Reino Unido</td>
                    <td>12:00 até 23:00</td>
                    <td><i class="fas fa-dollar-sign"></i><i class="fas fa-dollar-sign"></i></td>
                    <td>+44 20 3327 7888</td>
                    <td>
                        <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Ftheduckandrice%2F&width=72&layout=box_count&action=like&size=large&show_faces=false&share=false&height=65&appId"
                                width="72" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                                allowTransparency="true" allow="encrypted-media"></iframe>
                    </td>
                </tr>
                <tr>
                    <td>Sherlock Holmes</td>
                    <td>4.0 <i class="fas fa-star"></i></td>
                    <td>10 Northumberland St, London WC2N 5DB, Reino Unido</td>
                    <td>11:00 até 23:00</td>
                    <td><i class="fas fa-dollar-sign"></i><i class="fas fa-dollar-sign"></i></td>
                    <td>+44 20 7930 2644</td>
                    <td>
                        <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fthesherlockholmes%2F&width=72&layout=box_count&action=like&size=large&show_faces=false&share=false&height=65&appId"
                                width="72" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                                allowTransparency="true" allow="encrypted-media"></iframe>
                    </td>
                </tr>
                <tr>
                    <td>Bob Bob Ricard</td>
                    <td>4.5 <i class="fas fa-star"></i></td>
                    <td>1 Upper James St, Soho, London W1F 9DF, Reino Unido</td>
                    <td>12:30 até 15:00 e 18:00 até 00:00</td>
                    <td>
                        <i class="fas fa-dollar-sign"></i><i class="fas fa-dollar-sign"></i><i class="fas fa-dollar-sign"></i><i class="fas fa-dollar-sign"></i>
                    </td>
                    <td>+44 20 3145 1000</td>
                    <td>
                        <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fbobbobricard%2F&width=72&layout=box_count&action=like&size=large&show_faces=false&share=false&height=65&appId"
                                width="72" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                                allowTransparency="true" allow="encrypted-media"></iframe>
                    </td>
                </tr>
                <tr>
                    <td>Balans Soho Society Soho</td>
                    <td>4.3 <i class="fas fa-star"></i></td>
                    <td>60-62 Old Compton St, Soho, London W1D 4UG, Reino Unido</td>
                    <td>07:30 até 05:00</td>
                    <td><i class="fas fa-dollar-sign"></i><i class="fas fa-dollar-sign"></i></td>
                    <td>+44 20 7439 2183</td>
                    <td>
                        <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fbalanssohosociety%2F&width=72&layout=box_count&action=like&size=large&show_faces=false&share=false&height=65&appId"
                                width="72" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                                allowTransparency="true" allow="encrypted-media"></iframe>
                    </td>
                </tr>
            </table>
        </div>
    </main>
    <footer></footer>
</body>

</html>

