
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="css/estilo.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>#FightForWynonna</title>
</head>

<body>
    <header></header>
    <main>
        <div class="header" id="header">
        </div>
        <ul>
            <li><a href="index.htm" class="active">WYNONNA EARP</a></li>
            <li><a href="metro.htm">PERSONAGENS/ELENCO</a></li>
            <li><a href="dicas.htm">EPISÓDIOS</a></li>
            <li><a href="pontos.htm">HITÓRIA</a></li>
            <li><a href="cadastro.htm">CURIOSIDADES</a></li>
            <li><a href="restaurante.htm">#FigthForWynonna</a></li>
            <li><a href="album.htm">MURAL DOS VISITANTES</a></li>
            <li><a href="consulta.htm">MURAL DOS VISITANTES</a></li>
            <li><a href="leitores.htm">MURAL DOS VISITANTES</a></li>



        </ul>
        <div class="quadroprincipal">
            <h1>London Bridge</h1>
            <h3>Londres, 25 de fevereiro de 2019.</h3>
            <div class="quadroimagem" id="imagem1">
            </div>
            <strong>
                Foto da ponte de Londres.
            </strong>
            <a href="#" class="capsula">
                <i class="far fa-newspaper" style="font-size:24px;"></i> Leia mais
            </a>
            <blockquote class="corpolegal" id="corpounico" cite="https://pt.wikipedia.org/wiki/Wynonna_Earp">
                Wynona Earp é uma série de TV canadense distribuída pelo syfy de gênero: drama, fantasia sombria e
                weird west.Baseada nos quadrinhos de Beau Smith e adaptada para televisão por Emily Andras, tem Melanie
                Scrofano como a protagonista.
            </blockquote>
        </div>
        <br>
        <div class="quadroprincipal">
            <h1>Parlamento Ingles</h1>
            <h3>Londres, 25 de fevereiro de 2019.</h3>
            <div class="quadroimagem" id="imagem2"></div>
            <strong>
                Arco da ilha do rei.
            </strong>
            <a href="#" class="capsula">
                <i class="far fa-newspaper" style="font-size:24px;"></i> Leia mais
            </a>
            <blockquote class="corpolegal" cite="https://pt.wikipedia.org/wiki/Ponte_de_Londres">
                O histórico centro da capital têm os melhores pontos para fotos de sua estada em Londres,
                fora que aqui encontramos os famosos Pub's da ilha. Os restaurantes centenários fazem da noite
                próxima ao parlamento um lugar para comer, beber e particupar dos rituais típicos do inglês moderno.
            </blockquote>
        </div>
    </main>
    <footer></footer>
</body>

</html>

