
@{
    ViewData["Title"] = "Metro";
}

<h2>Metro</h2>

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Transporte em Londres</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="css/estilo.css" type="text/css" rel="stylesheet">
</head>

<body>
    <header></header>
    <main>
        <div class="header" id="header">
        </div>
        <ul>
            <li><a href="index.htm" class="active">WYNONNA EARP</a></li>
            <li><a href="metro.htm">PERSONAGENS/ELENCO</a></li>
            <li><a href="dicas.htm">EPISÓDIOS</a></li>
            <li><a href="pontos.htm">HITÓRIA</a></li>
            <li><a href="cadastro.htm">CURIOSIDADES</a></li>
            <li><a href="restaurante.htm">#FigthForWynonna</a></li>
            <li><a href="album.htm">MURAL DOS VISITANTES</a></li>

        </ul>
        <div class="quadroprincipal">
            <h1>Sistema de metro londrino</h1>
            <h3>Londres, 27 de fevereiro de 2019.</h3>
            <div class="quadroimagem" id="imagem3"></div>
            <strong> Estação Central de Metro. </strong><i></i>

            <blockquote cite="https://www.passagensimperdiveis.com.br/dicas-de-viagem/metro-de-londres-underground-oyster/">
                A melhor forma de se locomover pela capital da Inglaterra é fazendo uso do metrô de Londres:
                o tão amado e tão famoso Tube. Também conhecido como Underground, foi o primeiro meio de
                transporte de passageiros sobre trilhos do mundo, construído em 1863. Ao todo, são 408 km de extensão
                pela capital britânica, o que faz dele uma das mais longas redes de metrô do mundo.

            </blockquote>
        </div>
        <br>
        <div class="quadroprincipal">
            <h1>Floor Bus</h1>
            <h3>Londres, 27 de fevereiro de 2019.</h3>
            <div class="quadroimagem" id="imagem4"></div>
            <strong> Onibus de Londres.</strong>
            <blockquote cite="https://www.londresparaprincipiantes.com/andando-de-onibus-em-londres/">
                Em 2017, o preço para uma viagem única debitada no Oyster é de £1,50 e o teto diário (valor máximo que
                será debitado independentemente de quantas vezes você usar o ônibus) é £4,50. Quem não tem oyster ou
                travelcard, pode adquirir um passe diário por £5. Pelo valor, você pode ir do ponto inicial ao ponto
                final do ônibus, cruzando várias zonas de transporte, sem pagar nada mais por isso. Se optar por usar
                somente os ônibus durante sua estadia, compre um passe válido para ônibus e e trams que custa £21,20 por
                7 dias.

                Para ter uma ideia geral dos ônibus que cruzam o centro da cidade, a Transport for London tem um mapa
                bem bacana, veja aqui, mostrando as rotas que passam pelos principais pontos turísticos. Abaixo, estão
                as rotas de 6 ônibus que passam por locais turísticos e podem ser interessantes para quem está passeando
                pela cidade. Enjoy!
            </blockquote>
        </div>
        <br>
        <div class="quadroprincipal">
            <h1>Travessia do Rio Tamisa</h1>
            <h3>Londres, 27 de fevereiro de 2019.</h3>
            <div class="quadroimagem" id="imagem5"></div>
            <strong>Barco do Rio Tamisa.</strong>
            <blockquote cite="https://br.londonpass.com/things-to-do-in-london/around-thames-river.html?aid=1195&gclid=EAIaIQobChMIkLO6y9ba4AIVjwuRCh0e0gghEAAYASAAEgKzzfD_BwE">
                O Rio Tâmisa corre por 346 quilômetros e é um marco icônico de Londres passando diretamente por seu
                coração. As margens que cortam a capital estão repletas de museus e atrações que devem ser visitados e
                que marcam a história de Londres. Faça algo um pouco diferente e tenha uma perspectiva única durante a
                sua viagem vendo Londres pelo rio.
                Uma das melhores formas de ver Londres é no Cruzeiro do Rio Tâmisa que oferece vistas incomparáveis da
                cidade a partir das águas. Com quatro pontos de embarque e desembarque, você pode ver todos os cantos da
                cidade, das Casas do Parlamento até o centro financeiro – e tudo o que houver no meio do caminho. Não se
                esqueça da sua câmera, você precisará dela!
            </blockquote>
        </div>
</body>

</html>

