
@{
    ViewData["Title"] = "Pagamento";
}

<h2>Pagamento</h2>

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="css/estilo.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Hey up! London</title>
</head>

<body>
    <header></header>
    <main>
        <div class="header" id="header">
        </div>
        <ul>
            <li><a href="index.htm" class="active">WYNONNA EARP</a></li>
            <li><a href="metro.htm">PERSONAGENS/ELENCO</a></li>
            <li><a href="dicas.htm">EPISÓDIOS</a></li>
            <li><a href="pontos.htm">HITÓRIA</a></li>
            <li><a href="cadastro.htm">CURIOSIDADES</a></li>
            <li><a href="restaurante.htm">#FigthForWynonna</a></li>
            <li><a href="album.htm">MURAL DOS VISITANTES</a></li>

        </ul>
        <div class="quadroprincipal">
            <h1>Fotografias</h1>
            <h3>Londres, 14 de maio de 2019.</h3>
            <div class="quadroimagem" id="imagem1">
            </div>
            <div class="formulario">
                <fieldset>
                    <legend>Monte seu Tour</legend>
                    <h3>Opcionais:</h3>
                    <p>
                        <input type="checkbox" name="opcional[]" class="etiquetas" value="500">
                        Passeio pelo rio Tamisa. [500 &euro;]
                    </p>
                    <p>
                        <input type="checkbox" name="opcional[]" class="etiquetas" value="630">
                        Chá na confeitaria do Palácio de Buckingham. [630 &euro;]
                    </p>
                    <p>
                        <input type="checkbox" name="opcional[]" class="etiquetas" value="200">
                        Degustação de cervejas no Pub Bob Bob Ricard. [200 &euro;]
                    </p>
                    <p>
                        <input type="checkbox" name="opcional[]" class="etiquetas" value="15">
                        Passeio na London Eye com Hot Dog típico. [15 &euro;]
                    </p>
                    <p>
                        <input type="checkbox" name="opcional[]" class="etiquetas" value="5">
                        troca da guarda Real do Palácio de Winston. [5 &euro;]
                    </p>
                    <p>
                        <input type="checkbox" name="opcional[]" class="etiquetas" value="7">
                        Passeio pelo museu real e biblioteca real. [7 &euro;]
                    </p>
                    <button id="parcelamento" style="margin-left: 25%" onclick="calcularPasseio()">Valor das Parcelas</button>
                </fieldset>
                <span id="orcamento"></span>
            </div>
        </div>
    </main>
    <footer>
        <script src="js/action.js" type="text/javascript"></script>
    </footer>
</body>

</html>

