
@{
    ViewData["Title"] = "Pontos";
}

<h2>Pontos</h2>

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="css/estilo.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Hey up! London</title>
</head>

<body>
    <header></header>
    <main>
        <div class="header" id="header">
        </div>
        <ul>
            <li><a href="index.htm" class="active">WYNONNA EARP</a></li>
            <li><a href="metro.htm">PERSONAGENS/ELENCO</a></li>
            <li><a href="dicas.htm">EPISÓDIOS</a></li>
            <li><a href="pontos.htm">HITÓRIA</a></li>
            <li><a href="cadastro.htm">CURIOSIDADES</a></li>
            <li><a href="restaurante.htm">#FigthForWynonna</a></li>
            <li><a href="album.htm">MURAL DOS VISITANTES</a></li>

        </ul>
        <div class="quadroprincipal">
            <h1>Tabela de Pontos Turísticos de Londres (Editora Karen Vendrame)</h1>
            <h3>Londres, 27 de março de 2019.</h3>
            <div class="quadroimagem" id="imagem6"></div>
            <table>
                <tr>
                    <th>Ponto Turístico</th>
                    <th>Estação</th>
                    <th>Localização</th>
                    <th>Horário</th>
                    <th>Valor</th>
                    <th>Mapa</th>
                </tr>
                <tr>
                    <td>Big Ben</td>
                    <td>Westminster</td>
                    <td>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.680381439001!2d-0.1268140843437192!3d51.50073251901191!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604c38c8cd1d9%3A0xb78f2474b9a45aa9!2sBig+Ben!5e0!3m2!1spt-BR!2sbr!4v1556580525865!5m2!1spt-BR!2sbr"
                                width="300" height="115" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </td>
                    <td>09:00 até 20:00</td>
                    <td>4 &euro;</td>
                    <td>44 20 7219 4272</td>
                </tr>
                <tr>
                    <td>London Eye </td>
                    <td>Lambeth</td>
                    <td>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.538967912106!2d-0.12173168434360149!3d51.50332731882199!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604b900d26973%3A0x4291f3172409ea92!2sCoca-Cola+London+Eye!5e0!3m2!1spt-BR!2sbr!4v1556580796128!5m2!1spt-BR!2sbr"
                                width="300" height="115" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </td>
                    <td>11:00 até 00:00</td>
                    <td>8 &euro;</td>
                    <td>44 870 990 8881</td>
                </tr>
                <tr>
                    <td>Palácio de Buckingham</td>
                    <td>Westminster</td>
                    <td>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.6896842082674!2d-0.14437268434371786!3d51.500561819024284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48760520cd5b5eb5%3A0xa26abf514d902a7!2sPal%C3%A1cio+de+Buckingham!5e0!3m2!1spt-BR!2sbr!4v1556581112215!5m2!1spt-BR!2sbr"
                                width="300" height="115" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </td>
                    <td>Aberto todos os dias</td>
                    <td>4 &euro;</td>
                    <td>44 303 123 7300</td>
                </tr>
                <tr>
                    <td>Torre de Londres</td>
                    <td>St Katharine's & Wapping</td>
                    <td>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.277992410294!2d-0.07813798434344624!3d51.50811571847197!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48760349331f38dd%3A0xa8bf49dde1d56467!2sTorre+de+Londres!5e0!3m2!1spt-BR!2sbr!4v1556581162675!5m2!1spt-BR!2sbr"
                                width="300" height="115" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </td>
                    <td>09:00 até 17:30</td>
                    <td>8 &euro;</td>
                    <td>44 844 482 7777</td>
                </tr>
                <tr>
                    <td>Ponte da Torre de Londres</td>
                    <td>Tower Bridge Rd</td>
                    <td>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.422750824533!2d-0.07754518434350673!3d51.505459718666216!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487603438b65db49%3A0x9e78421a085a6f2d!2sTower+Bridge!5e0!3m2!1spt-BR!2sbr!4v1556581204025!5m2!1spt-BR!2sbr"
                                width="300" height="115" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </td>
                    <td>Aberta diariamente</td>
                    <td>8 &euro;</td>
                    <td>44 20 7403 3761</td>
                </tr>
                <tr>
                    <td>Hyde Park</td>
                    <td>Centro de Londres</td>
                    <td>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.422750824533!2d-0.07754518434350673!3d51.505459718666216!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487603438b65db49%3A0x9e78421a085a6f2d!2sTower+Bridge!5e0!3m2!1spt-BR!2sbr!4v1556581204025!5m2!1spt-BR!2sbr"
                                width="300" height="115" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </td>
                    <td>05:00 até 23:30</td>
                    <td>4 &euro;</td>
                    <td>44 300 061 2000</td>
                </tr>
                <tr>
                    <td>Trafalgar Square</td>
                    <td>Trafalgar Square</td>
                    <td>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1241.639650359067!2d-0.12913789172496937!3d51.508091714327406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604ce3941eb1f%3A0x1a5342fdf089c627!2sTrafalgar+Square!5e0!3m2!1spt-BR!2sbr!4v1556581320026!5m2!1spt-BR!2sbr"
                                width="300" height="115" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </td>
                    <td>Aberto 24h</td>
                    <td>0 &euro;</td>
                    <td>44 20 7983 4750</td>
                </tr>
                <tr>
                    <td>Museu de História Natural</td>
                    <td>Cromwell Rd, Kensington</td>
                    <td>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.8991405489073!2d-0.17855588434383438!3d51.496718319305195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48760542e6182f3f%3A0x7bb7e385c39764c4!2sMuseu+de+Hist%C3%B3ria+Natural+de+Londres!5e0!3m2!1spt-BR!2sbr!4v1556581377819!5m2!1spt-BR!2sbr"
                                width="300" height="115" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </td>
                    <td>10:00 até 17:50</td>
                    <td>22 &euro;</td>
                    <td>44 20 7942 5000</td>
                </tr>
                <tr>
                    <td>Oxford Street</td>
                    <td>Cidade de Westminster</td>
                    <td>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2482.906795681484!2d-0.14701228434323996!3d51.514925917974054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761ad554c335c1%3A0xda2164b934c67c1a!2sOxford+St%2C+London%2C+Reino+Unido!5e0!3m2!1spt-BR!2sbr!4v1556581418377!5m2!1spt-BR!2sbr"
                                width="300" height="115" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </td>
                    <td>24h</td>
                    <td>0 &euro;</td>
                    <td>44 870 990 8889</td>
                </tr>
                <tr>
                    <td>Regent's Park</td>
                    <td> Chester Rd</td>
                    <td>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2482.0908539381767!2d-0.15819678434273957!3d51.529893416879425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761ac3b0b3be07%3A0x8983e0fbb6a18be!2sRegent&#39;s+Park!5e0!3m2!1spt-BR!2sbr!4v1556581460795!5m2!1spt-BR!2sbr"
                                width="300" height="115" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </td>
                    <td>24h</td>
                    <td>free &euro;</td>
                    <td>44 300 061 2300</td>
                </tr>

            </table>
        </div>
    </main>
    <footer></footer>
</body>

</html>

